{% set title = 'test pay' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{ title }}</h3>
    </div>
    <div class="panel-body">
        <div id="paymentResponse"></div>

        <form action="{{ path('test-pay') }}" method="POST" id="paymentForm">
            <div class="row">
                <h5>User information</h5>
                <div class="col-4">
                    <input id="name" type="text" class="form-control" placeholder="Name" name="name" required>
                </div>
                <div class="col-4">
                    <input id="email" type="text" class="form-control" placeholder="Email" name="email" required>
                </div>
            </div>

            <div class="row mt-2">
                <h5>Order information</h5>
                <div class="col-4">
                    <input id="order" type="text" class="form-control" placeholder="Order" name="order">
                </div>
                <div class="col-2">
                    <input id="date" type="date" class="form-control" name="date">
                </div>
                <div class="col-2">
                    <input id="amount" step="0.01" type="number" class="form-control" name="amount" placeholder="amount">
                </div>
            </div>

            <div class="row mt-2">
                <h5>Card form</h5>
                <div class="col-3">
                    <input id="cardName" type="text" class="form-control" placeholder="Card name" name="cardName">
                </div>
                <div class="col-2">
                    <div class="form-control" id="pan" placeholder="pan" name="pan"></div>
                    <input type="hidden" name="pan">
                </div>
                <div class="col-2">
                    <div class="form-control" id="card_expiry" class="field"></div>
                    <input type="hidden" name="expiration">
                </div>
                <div class="col-1">
                    <div class="form-control" id="card_cvc" class="field"></div>
                    <input type="hidden" name="cvv">
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-7">
                    <textarea class="form-control" placeholder="description"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-1">
                    <input id='test-pay' class="btn btn-secondary btn-sm" type="submit" name="test-pay" value="Stripe Pay">
                </div>
            <div class="col-1">
                <input id='test-subscription-pay' class="btn btn-secondary btn-sm" type="submit" name="test-subscription-pay" value="Subscription">
            </div>

                </div>
            {% if invoice is defined %}
                <input type="hidden" id="invoiceId" name="invoiceId" value="{{ invoice.id }}" />
            {% endif %}
                <input type="hidden" id="stripeToken" name="stripeToken"/>


{# not mine#}

{#            <div class="form-group">#}
{#                <label>NAME</label>#}
{#                <input type="text" name="name" id="name" class="field" placeholder="Enter name" required="" autofocus="">#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label>EMAIL</label>#}
{#                <input type="email" name="email" id="email" class="field" placeholder="Enter email" required="">#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label>CARD NUMBER</label>#}
{#                <div id="card_number" class="field"></div>#}
{#            </div>#}

{#            <div class="row">#}
{#                <div class="left">#}
{#                    <div class="form-group">#}
{#                        <label>EXPIRY DATE</label>#}
{#                        <div id="card_expiry" class="field"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="right">#}
{#                    <div class="form-group">#}
{#                        <label>CVC CODE</label>#}
{#                        <div id="card_cvc" class="field"></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}


{#            <button type="submit" class="btn btn-success" id="payBtn">Submit Payment</button>#}
        </form>
    </div>
</div>
</body>
<script>
    let stripe = Stripe("{{  stripe_key }}");
    let elements = stripe.elements();
    let cardElement = elements.create('cardNumber');
    cardElement.mount('#pan');

    let exp = elements.create('cardExpiry');
    exp.mount('#card_expiry');

    let cvc = elements.create('cardCvc');
    cvc.mount('#card_cvc');

    let resultContainer = document.getElementById('paymentResponse');
    cardElement.addEventListener('change', function(event) {
        resultContainer.innerHTML = (event.error) ? '<p>' + event.error.message + '</p>' : '';
    });

    let form = document.getElementById('paymentForm');
    // Create a token when the form is submitted.
    form.addEventListener('submit', function(e) {
        e.preventDefault();
        createToken();
    });
    // Create single-use token to charge the user
    function createToken() {
        stripe.createToken(cardElement).then(function(result) {
            if (result.error) {
                resultContainer.innerHTML = '<p>' + result.error.message + '</p>';
            } else {
                stripeTokenHandler(result.token);
            }
        });
    }

    function stripeTokenHandler(token) {
        let hiddenInput = document.querySelector('#stripeToken');
        hiddenInput.setAttribute('value', token.id);
        completeFieldsBeforeSubmit('abc');

        form.submit();
    }

    function completeFieldsBeforeSubmit(fieldName){
        // let iframe = document.querySelector('iframe');
        // let innerDoc = iframe.contentDocument || iframe.contentWindow.document;
        // let stripePan = innerDoc.querySelector('input[name=cardnumber]');

        let pan = document.querySelector('input[name=pan]');
        pan.setAttribute('value', '4242424242424242');

        let expiration = document.querySelector('input[name=expiration]');
        expiration.setAttribute('value', '12/24');

        let cvv = document.querySelector('input[name=cvv]');
        cvv.setAttribute('value', '424');
    }

</script>
</html>