{% extends 'base.html.twig' %}

{% block content %}
    {% include 'nav.html.twig' %}


    <div class="container content-end">
    <div class="col-md-8 offset-md-5 pt-5">

        <h2>Card form</h2>
        <div class="col-md-6">
            {{ form_start(card_form) }}
            <div class="form-errors">
                {{ form_errors(card_form) }}
            </div>

            <div class="row">
                <div class="col"> {{ form_label(card_form.name) }}</div>
                <div class="col"> {{ form_widget(card_form.name) }} </div>
            </div>
            <div class="row">
                <div class="col"> {{ form_label(card_form.pan) }}</div>
                <div class="col"> {{ form_widget(card_form.pan) }}</div>
            </div>
            <div class="row">
                <div class="col"> {{ form_label(card_form.expiration) }}</div>
                <div class="col"> {{ form_widget(card_form.expiration) }}</div>
            </div>
            <div class="row">
                <div class="col"> {{ form_label(card_form.cvv) }}</div>
                <div class="col"> {{ form_widget(card_form.cvv) }}</div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-danger" href="{{ path('account') }}">Back to account</a>
                </div>

            </div>

            {{ form_end(card_form) }}
        </div>
    </div>


{% endblock %}