<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Order</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for invoice in invoices %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ invoice.order }}</td>
            <td>{{ invoice.amount }}</td>
            <td>{{ invoice.status }}</td>
            <td>{{ invoice.description }}</td>
            <td>
                {% if invoice.status == 'subscribed' %}
                    <a class="btn btn-danger" aria-label="Close" href="#">Delete</a></td>
                {% else %}
                    <a class="btn btn-primary" aria-label="Close" href="{{ path('stripe-form', { 'invoiceId': invoice.id }) }}">Pay</a>
                    <a class="btn btn-primary" aria-label="Close" href="{{ path('subscription-stripe-form', { 'invoiceId': invoice.id }) }}">Subscribe</a>

                {% endif %}
        </tr>
    {% endfor %}

    </tbody>
</table>