{% set title = 'Pay form' %}
{% extends 'account/account.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {{ parent() }}

    <script src="https://js.stripe.com/v3/" ></script>
    <script>
        let stripe = Stripe("{{stripe_key}}");
        let elements = stripe.elements();
        let cardElement = elements.create('card');
        let stripePayBtn = document.querySelector("#stripe-pay");

        stripePayBtn.addEventListener('click', createToken);
        cardElement.mount('#card-element');

        function createToken() {
            stripePayBtn.disabled = true;
            stripe.createToken(cardElement).then(function(result) {

                if (typeof result.error != 'undefined') {
                    stripePayBtn.disabled = false;
                    alert(result.error.message);
                }

                if (typeof result.token != 'undefined') {
                    console.log(result.token)
                    document.getElementById("stripe-token-id").value = result.token.id;
                    document.querySelector('#checkout-form').submit();
                }
            });
        }
    </script>

    <div class="container">
    <h3>{{ title }}</h3>
    <form id='checkout-form' method="POST" action="{{ path('complete-pay') }}">
        <div class="row">
            <div class="col-4">
                <input type="text" class="form-control" placeholder="Order" readonly disabled value="{{ invoice.order }}">
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Date" readonly disabled value="{{ invoice.date }}>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-7 ">
                <input type="text" class="form-control" placeholder="description" readonly disabled>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-7">
                <input type="text" class="form-control" placeholder="Card name" readonly disabled>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-5">
                <input type="text" class="form-control" placeholder="pan" readonly disabled>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" placeholder="expiration" readonly disabled>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-1">
                <input id='stripe-pay' class="btn btn-secondary btn-sm" type="submit" name="stripe-pay" value="Stripe Pay">
            </div>
            <div class="col-1">
                <input class="btn btn-primary btn-sm" type="submit" name="custom-pay" value="Custom Pay">
            </div>

            <div class="col-5">
                <input type="text" class="form-control" placeholder="amount" readonly disabled>
            </div>
        </div>
        <input type="hidden" id="invoiceId" name="invoiceId" value="{{ invoice.id }}" />
    </form>
{% endblock %}