<div class="d-flex flex-row-reverse">
    <div class="p-2">
        <a type="button" class="btn btn-dark" href="{{  path('add-card') }}">Add new card</a>
    </div>
</div>

<h3>List of available credit cards</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Pan</th>
        <th scope="col">Expiration</th>
        <th scope="col">CVV</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for card in cards %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ card.name }}</td>
            <td>{{ card.pan }}</td>
            <td>{{ card.expiration }}</td>
            <td>{{ card.cvv }}</td>
            <td>
                {% if card.isActive == 0 %}
                <a class="btn btn-primary" aria-label="Close" href="{{ path('activate-card', { 'cardId': card.id }) }}">activate</a></td>
            {% else %}
                <a class="btn btn-danger" aria-label="Close" href="{{ path('deactivate-card', { 'cardId': card.id }) }}">deactivate</a></td>
            {% endif %}

        </tr>
    {% endfor %}

    </tbody>
</table>